@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
	font-size: 18px;
	font-family: 'Kumbh Sans';
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background:hsl(185, 75%, 39%);
	/* min-width: 325px; */
}


/* 		Background Styles		 */


#background{
	width: 100%;
	overflow: hidden;
}

#background *{
	width: 60%; 
	height: auto;
	position: fixed;
}

#circletop {
	top: -60%;
	left: -10%;
	transform: rotate(5deg);
}

#circlebottom {
	bottom: 50%;
	right: -10%;
	transform: rotate(5deg);
}

#circletop img, #circlebottom img{
	width: 100%;
}


/* 		Content Styles		 */

#card{
	position: relative;
	background: white;
	border-radius: 10px;
	padding: 10px;
	height: 50vh;
	width: 320px;
	margin: calc(45vh / 2) auto;
}

#card_pattern{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

#card_pattern img{
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	
}

#user_image{
	position: absolute;
	z-index: 1;
	width: 30%;
	height: 0%;
	top: 25%;
	left: calc(70%/2);
}

#user_image img{
	width: 100%;
	border: 5px solid white;
	border-radius: 50%;
}

#user_details{
	position: absolute;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 60%;
	width: 60%;
	height: 12%;
	left: calc(40%/2);
}

#stats{
	position: absolute;
	display:flex;
	justify-content: space-around;
	align-items:center;
	width: 100%;
	left: 0;
	bottom: 0;
	border-top: 1px solid #eee;
	padding: 20px 0px 5px 0px;
}

#stats *{
	height: 50px;
	display: flex;
	flex-direction: column;
	text-align:center;
}

p{
	font-size: 0.7em;
	font-weight: 400;
	/*padding: 5px;*/
}

a{
	color: white;
}

 .attribution { height: 5vh; font-size: 11px; text-align: center; color: #333; }
 .attribution a { color: white; }